.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.banner {
    min-height: 350px;
    padding-top: 145px;
    background: #000; 
}

.subTitle {
    margin: 50px;
    text-align: center;
    color: rgba(255, 255, 255, .7) !important
}

.line {
    width: 170px;
    height: auto;
    border-right: solid 2px;
}

.btnSearch  {
    color: #000;
    width: 70px;
    height: 54px;
    margin: 0 5px;
    font-size: 18px;
    background: #3498db; 
}
.btn{
    cursor: pointer;
    color: #000;
    width: 165px;
    height: 54px;
    margin: 27px 5px;
    font-size: 18px;
    background: #fff; 
}

.btn:hover{
    color: #fff;
    background: #000; 
}

.inputSearch {
    height: 48px;
    width: 100%;
    max-width: 650px;
    outline: none;
    padding: 0 20px;
}
.InputTable{
    width: 89%;
    color: #fff;
    padding: 0 22px;
    background: black;
}

.input {
    height: 48px;
    width: 89%;
    outline: none;
    padding: 0 20px;
}

.title {
    color: #fff;
    text-align: center;
}


.homePagePrice {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
    width: 95%;
    height: 51px;
    background-color: #000;
}
.button:hover{
    color: #fff;
    background-color: #000;
}
.elements{
    font-size: 20px;
    font-weight: 600;
}
.btnDelete{
    border: none;
    padding: 5px 8px;
    border-radius: 22px;
    background: #f16565;
}
.price{
    font-weight: 600;  
}

.link{
    color: #000; 
    font-weight: 600;
    margin: 0 5px;
}
.boxImages{
    display: flex;
    padding: 70px 6px;
    justify-content: space-between;
}
.img{
    width: 100%;
    max-width: 465px;
}
.homePageTitle{
    padding: 0 17px;
    font-size: 20px;
    font-weight: 500;
}

.link{
    color: #3498db !important;
}
.link6pm{
    color: #000;
}
.item{
    margin: 5px 10px;
}
.blockItem{
    width: 100%;
}

.homePageConatiner{
 padding: 20px 0;
}
.slider{
    padding: 70px 0;
}

/* Table */


table { 
	border-collapse: collapse; 
	margin:50px auto;
	}


tr:nth-of-type(odd) { 
	background: #fff; 
	}

th { 
	background: #000; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 

		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 

		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

}


@media only screen and (max-width: 1024px) {

    td, th {
        font-size: 12px;
    }
}


 @media only screen and (max-width: 800px) {
    .homePage {
       padding: 0 20px;
    }
    .boxImages{
        flex-direction: column;
    }
    .boxImages{
        align-items: center;
    }
}
@media only screen and (max-width: 576px) {
    h1{
        font-size: 18px;
    }
    .input {
        width: 75%;
    }
    .InputTable{
        width: 75%;
    }
    .button{
        width: 84%;
    }
}

@media only screen and (max-width: 420px) {
    td {
        padding-left: 33%;
    }
}

